@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geist", sans-serif;
  background: #09090b;
  color: white;
  overflow-x: hidden;
}

:root {
  --background: #09090b;
  --foreground: #ffffff;
  --primary: #7c3aed;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
